*,
:after,
:before {
    box-sizing: border-box
}

html {
    overflow-x: hidden!important
}

a {
    color: #87c3f9
}

a,
a:hover,
a:focus {
    text-decoration: none
}

textarea,
select,
input {
    outline: none
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: #213342
}

::-webkit-scrollbar-thumb {
    background: #3b6080
}

::-moz-selection {
    background: #000;
    text-shadow: none
}

::selection {
    background: #fd9dff;
    color: #fff;
    text-shadow: none
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

img:hover {
    filter: brightness(1);
    -webkit-filter: brightness(1)
}

body.toi {
    color: #a5a5a5;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .6px;
    overflow-x: hidden;
    background: #222d38 url('https://i.imgur.com/4ARjdMg.png') fixed center;
    -webkit-transition: background-color 150ms ease-out!important;
    transition: background-color 150ms ease-out!important;
}
#header {
    background: #1b2d3c;
}
#header>.container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
#header_wrap {
    padding: 5px 0;
    margin: 10px 0;
}
#header_wrap .col-md-3.slogan {
    margin-top: 0px;
    padding: 0;
}
#header .logo {
    margin-top: -5px;
    height: 42px;
}
a.logo-text {
    font-size: 26px;
    color: #fff;
    font-weight: 540;
    text-decoration: none;
}

.halim-search-form {
    margin-top: 0;
    padding-left: 0;
}
.header-nav {
    margin-right: 0;
    position: relative;
}
#header_wrap .form-group {
    margin: 0;
}
.app-search-form .form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid #273e52;
    color: #7aa6ce;
    font-size: 13px;
    border-radius: 20px!important;
    transition: .7s all;
    padding: 10px 40px;
    background: #12171b6e url(../images/search.svg) 5px 2px no-repeat;
}

#header_wrap .col-md-4 {
    padding-right: 0;
    text-align: right;
}


.nav-item .dropdown {
    display: inline-block;
    width: 100%;
}
.nav-item a {
    color: #fff;
}

.nav-item.user-login {
    background: #224361;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 1px;
}
.nav-item.user-login .avt img {
    height: 22px;
    width: 22px;
}
.nav-item .avt img {
    border-radius: 100%!important;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.box-shadow {
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.07), 0px 1px 3px rgba(0,0,0,0.29);
}

.upload-link {
    background: #224361;
    display: inline-block;
    line-height: 20px;
    padding: 6px 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: .4s all;
    margin-top: 1px;
    margin-right: 15px;
}
.nav-item.user-login .dropdown-menu, .nav-item.upload-link .dropdown-menu {
    margin-top: 13px;
    left: -50px;
    padding: 5px 10px;
    border-radius: 3px;
}
.nav-item .dropdown-menu {
    min-width: 220px;
    padding: 0;
}
.nav-item .dropdown-menu {
    background: rgb(31,61,88)!important;
    border: none;
    right: 0;
}
.nav-item .open>.dropdown-menu {
    display: block;
}
.nav-item .dropdown-menu > li > a {
    color: #fff;
    padding: 8px 15px;
    white-space: normal;
}
.nav-item .dropdown-menu li {
    margin: 5px 0;
    border-radius: 20px;
}
.nav-item li.nav-link {
    background: #125996;
}
.nav-item li a:hover{border-radius:20px}
.nav-item li.nav-link a:hover{background:#104b7d;color: #fff;}

.nav-item li a span {
    text-transform: capitalize;
    font-size: 13px;
}




.navbar-container {
    background: #12171b;
    transition: .25s transform;
    backface-visibility: hidden;
    z-index: 9999
}

.navbar-container .container {
    padding: 0
}

.fix.hl-dot-3:before {
    transform: rotate(90deg) scale(0.968) skew(1deg) translate(0px)
}

.msearch {
    margin: 10px 0 -10px;
    overflow: hidden
}

.navbar {
    min-height: 48px!important;
    margin: 0
}

.main-navigation {
    background: #12171b;
    border: none
}

.main-navigation .navbar-nav>li>a {
    color: #d0d0d0;
    font-size: 14px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border-right: 1px solid #12171b;
    padding: 15px
}

.home .main-navigation .navbar-nav>.active>a {
    background: transparent
}

.main-navigation .navbar-nav>li>a i {
    font-size: 12px
}

.main-navigation .navbar-nav>li>a:hover,
.main-navigation .navbar-nav>li>a:focus {
    color: #fdfdfd;
    background: #000
}

.main-navigation .navbar-nav>.active>a,
.main-navigation .navbar-nav>.active>a:hover,
.main-navigation .navbar-nav>.active>a:focus {
    color: #fff;
    background: #223344;
    border: none
}

.main-navigation .navbar-nav>li.current_page_item:first-child a {
    border: none
}

.main-navigation .nav .open>a,
.main-navigation .nav .open>a:focus,
.main-navigation .nav .open>a:hover {
    background: #000;
    border: none
}

#main-contents {
    position: relative
}

@media screen and (max-width:767px) {
    .main-navigation .navbar-nav>li>a {
        padding: 10px
    }
    .main-navigation {
        border-bottom: 0
    }
    .navbar {
        min-height: 35px!important
    }
    .main-navigation .navbar-nav>li>a {
        color: #b3b3b3
    }
    #main-contents {
        padding: 0 15px
    }
}

.dropdown-menu {
    background: rgb(31, 61, 88)!important;
    border: none;
    right: 0
}

.mega .navbar-nav>li:last-child ul {
    width: 600px;
    left: -251px
}

.navbar-brand {
    color: #fff
}

.navbar-nav .dropdown-menu {
    z-index: 9999
}

.navbar-nav .mega .dropdown-menu {
    width: 600px;
    z-index: 9999;
    padding: 0;
    transition: .5s all
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #3577b1;
    transition: .5s all
}

@media (min-width:768px) {
    .navbar-nav .dropdown-menu::before {
        content: '';
        z-index: 999;
        display: block;
        top: -13px;
        left: 30px;
        position: absolute
    }
    .navbar-nav .dropdown-menu::after {
        content: '';
        border-bottom: 8px solid #1f3d58;
        border-left: 8px solid transparent;
        z-index: 999;
        display: block;
        border-right: 8px solid transparent;
        top: -8px;
        left: 37px;
        position: absolute
    }
}

.navbar-nav .mega .dropdown-menu li {
    float: left;
    width: 200px;
    display: inline-table
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 8px 15px;
    white-space: normal
}

@media (max-width:767px) {
    .navbar-nav > li > .dropdown-menu li {
        float: none!important;
        width: 100%!important
    }
    .dropdown-menu {
        width: 100%!important
    }
    .navbar-nav .dropdown-menu {
        margin-top: 0!important;
        border-top: 1px solid #253c50!important
    }
    #header > #headwrap {
        height: auto
    }
    #logo-bg {
        display: none!important
    }
    #halim-player-wrapper {
        height: auto;
        margin: auto -15px
    }
    .button-watch .col-md-8 {
        text-align: center!important;
        padding: 0
    }
}

.mega.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar-toggle .icon-bar{background-color:#e0e0e0}
.navbar-toggle,button.navbar-toggle.collapsed{margin:6px 0}
.navbar-toggle.pull-right.collapsed{margin:6px 0 2px;padding:9px}

/* main */
#mainContent {
    background: #151d25;
    padding: 0 0 15px;
    margin-top: -3px;
}

.page-content {
    padding: 15px 0;
    margin-top: -1px;
}
.wrapSliderStyle {
    position: relative;
    overflow: hidden;
}
.section-heading {
    padding: 0 6px 0 0;
    margin: 21px 0 15px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}
.section-heading:before {
    content: '';
    height: 100%;
    width: auto;
    left: 5px;
    right: 5px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: rgba(32,42,53,.81)!important;
    position: absolute;
}
.section-heading span {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #0b0f15;
    line-height: 34px;
    padding: 9px 25px 9px 10px;
    margin-left: 12px;
    position: relative;
    color: #7797b3;
}
.section-heading span:before {
    content: '';
    display: inline-block;
    background-color: #0b0f15;
    position: absolute;
    top: 0;
    left: -6px;
    width: 15px;
    height: 100%;
    z-index: 1;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    border: none;
}
.section-heading span:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: -7px;
    width: 13px;
    height: 100%;
    z-index: 1;
    background: #151d25;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

/* carousel */

.fullwith-slider .owl-carousel-fullwidth {
    margin: 0
}

.owl-carousel-fullwidth {
    position: relative;
    margin-top: 15px
}

.owl-carousel-fullwidth .owl-nav {
    position: absolute;
    top: 45%
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
    padding: 0
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-item .halim-thumb {
    display: inline-block;
    position: relative;
    width: 100%
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    background: rgba(255, 152, 0, 0.75);
    color: #fff;
    border-radius: 0;
    padding: 8px 5px;
    position: absolute;
    top: -40px;
}

.owl-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0
}

.owl-carousel .owl-nav .owl-prev {
    left: 0px
}

.owl-carousel .owl-nav .owl-next {
    right: 0px
}

@media (max-width:767px) {
    .owl-carousel-fullwidth .owl-nav .owl-prev {
        left: 7px;
        top: -20px
    }
    .owl-carousel-fullwidth .owl-nav .owl-next {
        right: 7px;
        top: -20px
    }
}

.halim-carausel-widget .owl-dots {
    text-align: right;
    display: none
}

.wrap-slider .owl-carousel .owl-nav .owl-next {
    right: 0
}

.wrap-slider .owl-carousel .owl-nav .owl-prev {
    left: 0
}

.owl-dots {
    position: absolute;
    right: -2px;
    bottom: -22px
}

.owl-carousel-fullwidth .owl-dots {
    position: absolute;
    right: 10px;
    bottom: 0;
    top: initial;
    background: transparent
}

.related-film {
    margin-bottom: 20px
}

.related-film .owl-dots {
    right: 42.3333%;
    bottom: unset;
    display: none
}

#main-contents .owl-carousel .owl-nav .owl-prev {
    left: 0
}

#main-contents .owl-carousel .owl-nav .owl-next {
    right: 0
}

#main-contents .owl-carousel .owl-nav .owl-next,
#main-contents .owl-carousel .owl-nav .owl-prev {
    background: #c57b1b;
    color: #fff;
    border-radius: 0!important;
    padding: 10px 5px;
    position: absolute;
    top: 35%
}

#main-contents .owl-carousel-fullwidth .owl-dots {
    bottom: 0;
    top: inherit;
    right: 0
}

#main-contents .owl-carousel-fullwidth .owl-dots {
    bottom: -5px;
    top: inherit
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: none;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    margin: 5px 2px;
    background: #52a7f1;
    padding: 4px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #8BC34A
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

#main-contents .slide-text {}

.slide-text {
    background: rgba(0, 0, 0, 0.68);
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px
}

.slide-text h3,
.slide-text p {
    color: #fff;
    margin: 0
}

@media (max-width:767px) {
    .slide-text {
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 10px 15px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0
    }
    .slide-text h3 {
        font-size: 15px;
        color: #fff
    }
    .slide-text a.btn {
        display: none
    }
    .owl-carousel-fullwidth .owl-dots {
        top: 0;
        display: none
    }
    #main-contents .owl-carousel .owl-nav .owl-next,
    #main-contents .owl-carousel .owl-nav .owl-prev {
        top: -20px
    }
}

/* button slider carousel */
.wrapSliderStyle .react-multiple-carousel__arrow--left {
    left: 0px;
}
.wrapSliderStyle .react-multiple-carousel__arrow--right {
    right: 0px;
}
.wrapSliderStyle .react-multiple-carousel__arrow {
    /* background: #ffa533; */
}
.wrapSliderStyle .react-multiple-carousel__arrow:hover {
    background: #ffa533;
}