<div id=widget-0-0-0 class="owl-carousel owl-theme">
<article class="thumb grid-item post-15325"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/thiet-quyen-vuong-2/ title="Thiết Quyền Vương 2">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/The-Man-with-the-Iron-Fists-2-p.jpg alt="Thiết Quyền Vương 2" title="Thiết Quyền Vương 2"></figure>
<span class=status>HD VietSub</span><span class=duration>90<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Thiết Quyền Vương 2</h2><p class=original_title>The Man with the Iron Fists 2</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15321"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/nu-sat-thu-xinh-dep/ title="Nữ Sát Thủ Xinh Đẹp">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Violet-Daisy-p.jpg alt="Nữ Sát Thủ Xinh Đẹp" title="Nữ Sát Thủ Xinh Đẹp"></figure>
<span class=status>HD VietSub</span><span class=duration>88<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Nữ Sát Thủ Xinh Đẹp</h2><p class=original_title>Violet &amp; Daisy</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15315"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/cia-tai-xuat-2/ title="CIA Tái Xuất 2">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Red-2-p.jpg alt="CIA Tái Xuất 2" title="CIA Tái Xuất 2"></figure>
<span class=status>HD VietSub</span><span class=duration>116<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">CIA Tái Xuất 2</h2><p class=original_title>Red 2</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15300"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/hang-xom-cua-toi-bi-mat-ngu/ title="Hàng Xóm Của Tôi Bị Mất Ngủ">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Brave-to-Love-p.jpg alt="Hàng Xóm Của Tôi Bị Mất Ngủ" title="Hàng Xóm Của Tôi Bị Mất Ngủ"></figure>
<span class=status>HD VietSub</span><span class=episode>Full 24 tập</span><span class=duration>35<br />phút/tập</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Hàng Xóm Của Tôi Bị Mất Ngủ</h2><p class=original_title>Brave to Love</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15288"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/lop-hoc-gia-doi/ title="Lớp Học Giả Dối">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Class-of-Lies-p.jpg alt="Lớp Học Giả Dối" title="Lớp Học Giả Dối"></figure>
<span class=status>HD VietSub</span><span class=episode>Tập 14</span><span class=duration>60<br />phút/tập</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Lớp Học Giả Dối</h2><p class=original_title>Class of Lies</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15265"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/buoc-vao-ky-uc-cua-anh/ title="Bước Vào Ký Ức Của Anh">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Walk-Into-Your-Memory-p.jpg alt="Bước Vào Ký Ức Của Anh" title="Bước Vào Ký Ức Của Anh"></figure>
<span class=status>HD VietSub</span><span class=episode>Tập 12</span><span class=duration>45<br />phút/tập</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Bước Vào Ký Ức Của Anh</h2><p class=original_title>Walk Into Your Memory</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15245"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/hanh-khach-bi-an/ title="Hành Khách Bí Ẩn">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/The-Commuter-p.jpg alt="Hành Khách Bí Ẩn" title="Hành Khách Bí Ẩn"></figure>
<span class=status>HD VietSub</span><span class=duration>105<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Hành Khách Bí Ẩn</h2><p class=original_title>The Commuter</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15238"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/tro-choi-ao-giac/ title="Trò Chơi Ảo Giác">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/TRON-Legacy-p.jpg alt="Trò Chơi Ảo Giác" title="Trò Chơi Ảo Giác"></figure>
<span class=status>HD VietSub</span><span class=duration>125<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Trò Chơi Ảo Giác</h2><p class=original_title>TRON: Legacy</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15221"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/dia-dao-ca-sau-tu-than/ title="Địa Đạo Cá Sấu Tử Thần">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Crawl-p.jpg alt="Địa Đạo Cá Sấu Tử Thần" title="Địa Đạo Cá Sấu Tử Thần"></figure>
<span class=status>SD Thuyết Minh</span><span class=duration>87<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Địa Đạo Cá Sấu Tử Thần</h2><p class=original_title>Crawl</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15212"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/loi-thoat-hau-tan-the/ title="Lối Thoát Hậu Tận Thế">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/v2-2689d2ba347b8b3b50553d4d9e17c516_hd.jpg alt="Lối Thoát Hậu Tận Thế" title="Lối Thoát Hậu Tận Thế"></figure>
<span class=duration>105<br />min</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Lối Thoát Hậu Tận Thế</h2><p class=original_title>Cargo</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15152"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/bang-cuop-bat-dac-di/ title="Băng Cướp Bất Đắc Dĩ">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Triple-Frontier-p.jpg alt="Băng Cướp Bất Đắc Dĩ" title="Băng Cướp Bất Đắc Dĩ"></figure>
<span class=status>HD VietSub</span><span class=duration>125<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Băng Cướp Bất Đắc Dĩ</h2><p class=original_title>Triple Frontier</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15148"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/than-tham-sieu-cap/ title="Thần Thám Siêu Cấp">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Badges-Of-Fury-p.jpeg alt="Thần Thám Siêu Cấp" title="Thần Thám Siêu Cấp"></figure>
<span class=status>HD Thuyết Minh</span><span class=duration>102<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Thần Thám Siêu Cấp</h2><p class=original_title>Badges Of Fury</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15133"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/song-gio-song-sinh/ title="Sóng Gió Song Sinh">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Song-Naree-p.jpg alt="Sóng Gió Song Sinh" title="Sóng Gió Song Sinh"></figure>
<span class=status>HD VietSub </span><span class=episode>Tập 3</span><span class=duration>110<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Sóng Gió Song Sinh</h2><p class=original_title>Song Naree</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-15126"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/cong-chua-hat-cat/ title="Công Chúa Hạt Cát">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Jao-Ying-Med-Sai-p.jpg alt="Công Chúa Hạt Cát" title="Công Chúa Hạt Cát"></figure>
<span class=status>HD Vietsub</span><span class=episode>Tập 2</span><span class=duration>60<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Công Chúa Hạt Cát</h2><p class=original_title>Jao Ying Med Sai</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14951"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/yeu-nham-ban-than/ title="Yêu Nhầm Bạn Thân">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Friend-Zone-p.png alt="Yêu Nhầm Bạn Thân" title="Yêu Nhầm Bạn Thân"></figure>
<span class=status>HD VietSub</span><span class=duration>120<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Yêu Nhầm Bạn Thân</h2><p class=original_title>Friend Zone</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14947"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/quy-co-lua-dao/ title="Quý Cô Lừa Đảo">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/The-Hustle-p.jpg alt="Quý Cô Lừa Đảo" title="Quý Cô Lừa Đảo"></figure>
<span class=status>HD VietSub</span><span class=duration>93<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Quý Cô Lừa Đảo</h2><p class=original_title>The Hustle</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14884"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/dang-cap-thu-cung-2/ title="Đẳng Cấp Thú Cưng 2">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/The-Secret-Life-of-Pets-2-p.jpg alt="Đẳng Cấp Thú Cưng 2" title="Đẳng Cấp Thú Cưng 2"></figure>
<span class=status>HD VietSub</span><span class=duration>86<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Đẳng Cấp Thú Cưng 2</h2><p class=original_title>The Secret Life of Pets 2</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14695"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/truong-quan-doi-liet-hoa/ title="Trường Quân Đội Liệt Hỏa">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Arsenal-Military-Academy-p.jpg alt="Trường Quân Đội Liệt Hỏa" title="Trường Quân Đội Liệt Hỏa"></figure>
<span class=status>HD VietSub</span><span class=episode>Tập 40</span><span class=duration>45<br />phút/tập</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Trường Quân Đội Liệt Hỏa</h2><p class=original_title>Arsenal Military Academy</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14690"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/khoanh-khac-tuoi-18/ title="Khoảnh Khắc Tuổi 18">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Moment-at-Eighteen-p.jpg alt="Khoảnh Khắc Tuổi 18" title="Khoảnh Khắc Tuổi 18"></figure>
<span class=status>HD VietSub </span><span class=episode>Tập 11</span><span class=duration>60<br />phút/</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Khoảnh Khắc Tuổi 18</h2><p class=original_title>Moment at Eighteen</p></div></div>
</a></div>
</article>
<article class="thumb grid-item post-14643"><div class=halim-item>
<a class=halim-thumb href=http://topphimhd.com/dac-vu-ao-den-su-menh-toan-cau/ title="Đặc Vụ Áo Đen: Sứ Mệnh Toàn Cầu">
<figure><img class="lazy img-responsive" src=http://topphimhd.com/wp-content/uploads/2019/08/Men-in-Black-International-p.jpg alt="Đặc Vụ Áo Đen: Sứ Mệnh Toàn Cầu" title="Đặc Vụ Áo Đen: Sứ Mệnh Toàn Cầu"></figure>
<span class=status>HD Thuyết Minh</span><span class=duration>114<br />phút</span><div class=icon_overlay></div><div class=halim-post-title-box><div class="halim-post-title "><h2 class="entry-title">Đặc Vụ Áo Đen: Sứ Mệnh Toàn Cầu</h2><p class=original_title>Men in Black: International</p></div></div>
</a></div>
</article></div> <script>jQuery(document).ready(function($) {				
				var owl = $('#widget-0-0-0');
				owl.owlCarousel({loop: true,margin: 4,autoplay: true,autoplayTimeout: 4000,autoplayHoverPause: true,nav: false,navText: ['<i class="hl-down-open rotate-left"></i>', '<i class="hl-down-open rotate-right"></i>'],responsiveClass: true,responsive: {0: {items:2},480: {items:3}, 600: {items:4},1000: {items: 6}}})});</script> 
				</div></div>