/*

.topbar .top-navbar .navbar-header {
    background: #fff
}

 .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: inline
}

 .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none
}

 .topbar .top-navbar .navbar-header .nav-toggler,
 .topbar .top-navbar .navbar-header .topbartoggler {
    color: #313131
}

 .topbar .top-navbar .navbar-header .sidebartoggler.side-start {
    color: #313131;
    opacity: .9
}

.left-sidebar .sidebar-nav ul .sidebar-item .profile-dd span,
.left-sidebar .sidebar-nav ul .sidebar-item .sidebar-link i
{
    color: #54667a
}


.topbar .navbar-collapse
{
    background: #fff
}

.topbar .navbar-collapse .navbar-brand .dark-logo
 {
    display: inline
}

.topbar .navbar-collapse .navbar-brand .light-logo
 {
    display: none
}

.topbar .navbar-collapse .search-box .form-control
{
    border-color: rgba(120, 130, 140, .13)
}



 .left-sidebar,
 .left-sidebar .sidebar-nav ul
 {
    background: #fff
}

.left-sidebar .sidebar-nav ul .sidebar-item .sidebar-link
 {
    color: #54667a;
    opacity: .9
}

 .left-sidebar .sidebar-nav ul .sidebar-item .sidebar-link.active,
 .left-sidebar .sidebar-nav ul .sidebar-item .sidebar-link:hover
 {
    opacity: 1
}

 .sidebar-nav ul .sidebar-item.selected>.sidebar-link
{
    opacity: 1;
    color: #fff
}

.left-sidebar .sidebar-nav ul .sidebar-item.selected>.sidebar-link i
{
    color: #fff
}

.left-sidebar .sidebar-nav .has-arrow::after
 {
    border-color: #54667a
}

 .sidebar-nav .sidebar-item.selected>.sidebar-link.has-arrow::after
 {
    border-color: #fff
}

 .left-sidebar .sidebar-nav .devider
 {
    border-top: 1px solid #54667a;
    opacity: .1
}

 .left-sidebar .sidebar-nav .user-content,
 .left-sidebar .sidebar-nav .user-email,
 .left-sidebar .sidebar-nav .user-name
 {
    opacity: .9;
    color: #212529
}



#main-wrapper {
    width: 100%;
    overflow: hidden
}



.page-wrapper>.page-content {
    padding: 30px;
    min-height: 100vh;
}

.page-breadcrumb {
    padding: 11px 30px
}

.page-breadcrumb .breadcrumb .breadcrumb-item,
.page-breadcrumb .breadcrumb .breadcrumb-item>a {
    color: #8898aa
}

.page-breadcrumb .breadcrumb .active {
    color: #2cabe3
}

.footer {
    padding: 15px 20px;
    background: #fff;
    color: #8898aa
}

.left-part {
    height: 100%;
    width: 260px;
    position: absolute;
    border-right: 1px solid rgba(120, 130, 140, .13)
}

.left-part.fixed-left-part {
    position: fixed;
    top: 0;
    padding-top: 10px
}

.left-part .show-left-part {
    position: absolute;
    top: 45%;
    right: -41px
}

.right-part {
    width: calc(100% - 260px);
    min-height: calc(100vh - 64px);
    overflow: auto;
    margin-left: 260px
}

.reverse-mode .left-part {
    right: 0;
    border-left: 1px solid rgba(120, 130, 140, .13)
}

.reverse-mode .show-left-part {
    right: auto;
    left: -41px
}

.reverse-mode .right-part {
    margin-left: 0;
    margin-right: 260px
}


#main-wrapper .page-wrapper {
    margin-left: 250px
}





#main-wrapper .left-sidebar {
    left: 0
}

#main-wrapper.hide-sidebar .left-sidebar {
    left: -250px
}

#main-wrapper.hide-sidebar .page-wrapper {
    margin-left: 0
}



#main-wrapper .topbar .top-navbar .navbar-header {
    position: fixed;
    z-index: 10;
    top: 0
}

#main-wrapper .left-sidebar {
    position: fixed
}

#main-wrapper .topbar {
    position: fixed;
    width: 100%
}

#main-wrapper .page-wrapper {
    padding-top: 60px
}

#main-wrapper {
    
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .2)
}

#main-wrapper .topbar {
    max-width: 100%;
}

@media (min-width:768px) {
    #main-wrapper .topbar .top-navbar .navbar-header {
        width: 250px
    }
    #main-wrapper .topbar .top-navbar .sidebartoggler {
        display: none;
    }

    #main-wrapper .topbar .top-navbar .sidebartoggler.side-start {
        justify-content: flex-start;
        margin-left: 1.5rem;
        color: #fff
    }

    #main-wrapper .topbar .top-navbar .navbar-collapse {
        margin-left: 250px
    }

}

@media (max-width:767.98px) {

    #main-wrapper .left-sidebar {
        left: -250px
    }
    #main-wrapper .page-wrapper {
        margin-left: 0;
    }
    #main-wrapper.hide-sidebar .left-sidebar {
        left: 0
    }
    
    #main-wrapper .topbar .top-navbar .navbar-collapse,
    #main-wrapper .topbar .top-navbar .navbar-collapse {
        position: relative;
        top: 60px
    }
    #main-wrapper .navbar-brand .logo-text {
        display: none
    }
    .left-part {
        left: -260px;
        background: #edf1f5;
        z-index: 1;
        position: fixed;
        transition: .1s ease-in
    }
    .left-part.show-panel {
        left: 0
    }
    .reverse-mode .left-part {
        right: -260px;
        left: auto
    }
    .reverse-mode .left-part.show-panel {
        right: 0
    }
    .right-part {
        width: 100%;
        margin-left: 0
    }
}

.left-sidebar,
.topbar .top-navbar .navbar-nav>.nav-item {
    transition: .2s ease-in
}

@media (max-width:1023px) {

}

.topbar {
    position: relative;
    z-index: 50;
    background: #fff;
    height: 60px
}

.topbar .navbar-collapse {
    padding: 0 10px 0 0
}

.topbar .top-navbar {
    min-height: 60px;
    padding: 0
}

.topbar .top-navbar .dropdown-toggle::after {
    display: none
}

.topbar .top-navbar .navbar-header {
    line-height: 60px
}

.topbar .top-navbar .sidebartoggler.side-start {
    justify-content: center;
    margin-left: 0;
    color: #fff;
    font-size: 20px
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding: 0 14px;
    font-size: 14px;
    line-height: 60px;
    height: 60px
}

.topbar .top-navbar .navbar-nav>.nav-item:hover {
    background: rgba(0, 0, 0, .03)
}

.topbar .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 10px
}

.topbar .navbar-brand .dark-logo {
    display: none
}

.topbar .navbar-brand .logo-icon {
    margin-right: 5px
}

.topbar .mailbox,
.topbar .user-dd {
    min-width: 280px
}

.topbar .nav-toggler,
.topbar .topbartoggler {
    color: #fff;
    padding: 0 15px
}

.app-search {
    margin-left: 15px;
    position: relative;
    
}

.app-search .form-control {
    border-radius: 60px;
    border-color: transparent;
    transition: .2s ease-in;
    width: auto;
    width: 280px;
    height: 30px;
    
}

.app-search .form-control:focus {
    width: 400px
}

.app-search a {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #8898aa
}

.topbar .mega-dropdown {
    position: static
}

.topbar .mega-dropdown .dropdown-menu {
    padding: 30px;
    width: 100%;
    max-height: 480px;
    overflow: auto
}

.topbar .dropdown-menu {
    padding-top: 0;
    border: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .1)
}

.topbar .dropdown-menu.dropdown-menu-right .with-arrow {
    right: 0
}

.topbar .dropdown-menu.dropdown-menu-right .with-arrow>span {
    right: 20px;
    left: auto
}

@media (max-width:767px) {
    .topbar .top-navbar .navbar-collapse.collapsing,
    .topbar .top-navbar .navbar-collapse.show {
        display: block;
        width: 100%;
        border-top: 1px solid rgba(120, 130, 140, .13)
    }
    .topbar .top-navbar .navbar-nav {
        flex-direction: row
    }
    .topbar .top-navbar .navbar-nav .dropdown {
        position: static
    }
    .topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
        padding: 0 10px
    }
    .topbar .top-navbar .navbar-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between
    }
    .topbar .top-navbar .dropdown-menu {
        position: absolute;
        width: 100%
    }
}



.left-sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 10;
    padding-top: 60px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1)
}

.scroll-sidebar,
.sidebar-nav .has-arrow,
.user-profile {
    position: relative
}

.material.left-sidebar {
    box-shadow: 1px 0 20px rgba(0, 0, 0, .08)
}

.auth-wrapper .auth-box,
.customizer {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1)
}

.scroll-sidebar {
    height: calc(100% - 20px)
}

.sidebar-nav ul .sidebar-item {
    width: 250px;
    background: inherit
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #fff;
    padding: 17px 13px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    opacity: .8;
    font-weight: 300
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    font-style: normal;
    width: 35px;
    line-height: 25px;
    font-size: 21px;
    color: #fff;
    display: inline-block;
    text-align: center
}

.sidebar-nav ul .sidebar-item .sidebar-link.active,
.sidebar-nav ul .sidebar-item .sidebar-link.profile-dd,
.sidebar-nav ul .sidebar-item .sidebar-link:hover {
    opacity: 1
}

.sidebar-nav ul .sidebar-item .sidebar-link.profile-dd span {
    margin-left: 10px;
    color: #fff;
    opacity: .8
}

.sidebar-nav ul .sidebar-item:hover {
    background: rgba(0, 0, 0, .07)
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link {
    opacity: 1;
    background-color: #ff5050;
    border-left: 3px solid transparent;
    font-weight: 500
}

.sidebar-nav ul .sidebar-item .first-level {
    padding: 0 0 10px
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item,
.sidebar-nav ul .sidebar-item .first-level .sidebar-item:hover {
    background: unset
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active>.sidebar-link {
    opacity: 1;
    font-weight: 500
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
    padding: 10px 15px
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
    font-size: 16px;
    visibility: hidden
}

.sidebar-nav ul .nav-small-cap {
    font-size: 12px;
    padding: 17px 13px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-top: 10px;
    color: #fff;
    opacity: 1;
    text-transform: uppercase
}

.sidebar-nav ul .nav-small-cap i {
    line-height: 30px;
    margin: 0 5px
}

.user-profile {
    z-index: 1
}

.user-content,
.user-email,
.user-name {
    color: #fff;
    opacity: .8
}

.sidebar-nav ul {
    margin: 0;
    padding: 0
}

.sidebar-nav ul li {
    list-style: none
}

.collapse.in {
    display: block
}

.sidebar-nav .has-arrow::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #fff;
    margin-left: 10px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 26px;
    right: 15px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.sidebar-nav .has-arrow.profile-dd::after {
    top: 33px;
    opacity: .8
}

.sidebar-nav .devider {
    margin: 7px 0;
    border-top: 1px solid #fff;
    opacity: .1
}

.sidebar-nav .has-arrow[aria-expanded=true]::after,
.sidebar-nav li.active>.has-arrow::after,
.sidebar-nav li>.has-arrow.active::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%)
}






@media (min-width:768px) and (max-width:1023px) {

    [data-sidebar-position=fixed] .left-sidebar {
        overflow: auto
    }
}





*/




