body {padding: 0; margin: 0; display: block;}
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.top-nav {width: 100%;
	height: 60px;
	margin: 0;padding: 0; 
	background-color: #FFF;
	position: fixed;
  top: 0;
  left: 0;
}
.top-nav {position: fixed; 
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;z-index: 1030;
}
.top-nav .app-logo {width: 220px;
	height: 100%;
	float: left; 
	text-align: center; 
}
.top-nav .app-logo a.logo-text { color: #2cabe3;
	font-size: 28px;
	line-height: 50px;
	text-decoration: none;
	font-weight: 600;
}
.top-nav .app-nav-search {width:500px;
	height: 34px; 
	position: relative;
	float: left; border: 1px solid #ddd;
	 margin-top: 10px;
}
.top-nav .app-nav-search .app-input-search {
  float: left;
  width: 100%;
  height: 34px;
  padding: 0px;
  color: #2cabe3;
}
.top-nav .app-nav-search .app-input-search:focus {color: #333;}
.top-nav .app-nav-search button.app-btn-search {
  position: absolute;  
  right: 0px;
  width: 60px;
  height: 34px;
  border: none;
  background: #ddd;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.top-nav .top-nav-right {
	width: 250px;
	height: 100%;
	float: right;
	position: relative;
}
.top-nav .top-nav-right .user-profile {
	position: absolute;
	right: 50px;
}

.top-nav .top-nav-right .user-profile .nav-link{
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
    display:block;
}
.user-avatar-md {
    height: 32px;
    width: 32px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.nav-user-dropdown {
    padding: 0px;
    min-width: 230px;
    margin: 0px;
}
.nav-user-info {
    background-color: #5969ff;
    line-height: 1.4;
    padding: 12px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
}
.nav-user-info .nav-user-name {
	margin-bottom: 0!important;
	color: #fff!important;
}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}

.mr-2 {
    margin-right: .5rem!important;
}
.inner-body {margin: 80px 0 80px;}