
.section-title-box {
    height: 35px;
}
.section-title-box .section-title {
    display: inline-block;
    line-height: 35px;
    font-size: 24px;
    color:#fff;
    vertical-align: middle;
    margin-right: 24px;
}

.list-video-show {
    width: 100%;
    height: auto;
    min-height: 1px;
    margin: 0 ;
    padding: 0;
    border: 0;
    background: transparent;
    display: block;
    float: left; 
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    margin-bottom: 24px;
}


.list-video-show .video-item {
    width: 20%;
    height: 230px;
    float: left;
    padding-right: 4px;
    display: block;
    white-space: normal;
    margin-bottom: 24px;

}

.video-item .video-thumbnail {
    width: 100%;
    height: 130px;
    display: inline-block;
    position: relative;
}
 .video-thumbnail .thumb-box {
    width: 100%;
    height: 100%;
    float: left;

}
.video-thumbnail .thumb-box img {
    width: 100%;
    height: 100%;
    float: left;
}

.video-thumbnail .video-time-play {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    background-color: rgba(11, 11, 11, 0.8);
    color:#fff;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 1.2rem;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: inline-flex;
}
.video-thumbnail .video-time-play .time-play-status {
    color:#fff;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.2rem;
}

.video-item .video-details {
    width: 100%;
    float: left;
    position: relative;
    cursor: pointer;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.video-item .video-details {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
    height: 100px;
    float: left;
    padding-right: 12px;
}


.video-details .video-title {
    width: 100%;
    float: left;
    max-height: 3.2rem;
    color: #ffa533!important;
    margin: 4px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 3px;

}

.video-details .video-edu {
    width: 100%;
    float: left;
    max-height: 1.6rem;
    color: #fff!important;
    margin: 4px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 3px;
} 
.video-details .video-detail-meta {
    width: 100%;
    height: auto;
    min-height: 1px;
    float: left;
}
.video-details .video-detail-meta .date-meta {
    width: 50%;
    float: left;
    font-size: 12px;
    text-align: left;
    color: #fff;
    padding-right: 5px;
}
.video-details .video-detail-meta .view-meta {
    width: 50%;
    float: right;
    font-size: 12px;
    text-align: left;
    color: #fff;
    padding-left: 5px;

}

/* playlist */
.playlist-wrap {
    width: 100%;
    height: 400px;
    float: left;
    display: block;
    overflow-y: scroll;
}
.playlist-wrap .item-playlist {
    width: 100%;
    height: 70px;
    float: left;
    display: block;
    margin-bottom: 5px;
}

.item-playlist .thumb {
    width: 135px;
    height: 100%;
    float: left;
    position: relative;
}
.item-playlist .thumb a img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.item-playlist .thumb .time-play{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    background-color: rgba(11, 11, 11, 0.8);
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 1.2rem;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: inline-flex;
}
.item-playlist .thumb .time-play .duration {
    color: #fff;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.2rem;
}
 .item-playlist .playlist-detail {
    width: calc(100% - 135px );
    height: 100%;
    float: left;
    display: block;
    padding-left: 5px;
}
.item-playlist .playlist-detail .title {
    width: 100%;
    float: left;
    display: block;
    font-size: 16px;
    padding-top: 5px;
    color:#fff;
}

/* video lien quan */
.videolist-y-wrap {
    width: 100%;
    height: auto;
    min-height: 1px;
    float: left;
    display: block;
    margin-top: 50px;
}
.videolist-y-wrap .item-videolist-y {
    width: 100%;
    height: 90px;
    float: left;
    display: block;
    margin-bottom: 5px;
}
.item-videolist-y .thumb {
    width: 155px;
    height: 100%;
    float: left;
    position: relative;
}
.item-videolist-y .thumb a img {
    width: 100%;
    height: 100%;
    text-align: center;
}
.item-videolist-y .thumb .time-play{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    background-color: rgba(11, 11, 11, 0.8);
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 1.2rem;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: inline-flex;
}

.item-videolist-y .thumb .time-play .duration {
    color: #fff;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.2rem;
}
.item-videolist-y .videolist-y-detail{
    width: calc(100% - 155px );
    height: 100%;
    float: left;
    display: block;
    padding-left: 5px;
}
.item-videolist-y .videolist-y-detail .title {
    width: 100%;
    float: left;
    display: block;
    font-size: 16px;
    padding-top: 5px;
    color:#fff;
}
.item-videolist-y .videolist-y-detail .meta {
    width: 100%;
    display: block;
    line-height: 1.2rem;
    max-height: 3.6rem;
    font-size: 14px;
    color:#fff;
    float: left;
    padding-top: 5px;
}
.item-videolist-y .videolist-y-detail .meta .view-meta {
    display: inline-block;
    padding-right: 4px;

}
.item-videolist-y .videolist-y-detail .meta .date-meta {
    display: inline-block;
}

/* video slider */
.slider-inner {
    height: 230px;
}
.slider-inner .slider-item {
    height: 100%;
}
.slider-item {
    height: 100%;
    margin: 0 3px;

}
 .slider-item .thumb-box {
    width: 100%;
    height: 130px;
    position: relative;
}
.slider-item .thumb-box a img {
    width: 100%;
    height: 130px;
    text-align: center;
}
.slider-item .thumb-box .video-time-play {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    background-color: rgba(11, 11, 11, 0.8);
    color:#fff;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 1.2rem;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: inline-flex;
}
.slider-item .thumb-box .video-time-play .time-play-status {
    color:#fff;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.2rem;
}
.slider-item .thumb-box .vi-note {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    background-color: rgba(11, 11, 11, 0.8);
    color:#fff;
    padding: 3px 6px;
    border-radius: 2px;
    letter-spacing: .5px;
    line-height: 1.6rem;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: inline-flex;
}
.slider-item .thumb-box .vi-note .vi-note-sub {
    color: #ffa533!important;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.6rem;
}

.slider-item .slider-thumb .slider-vi-detail {
    width: 100%;
    min-height: 1px;
    float: left;
}
.slider-item .slider-thumb .slider-vi-detail .slider-vi-title  {
    width: 100%;
    float: left;
}
 .slider-vi-title .vi-title  {
    width: 100%;
    float: left;
    max-height: 3.2rem;
    color: #ffa533!important;
    margin: 4px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 3px;
}
 .slider-vi-title .edu-name  {
    width: 100%;
    float: left;
    max-height: 2rem;
    color: #fff!important;
    margin: 2px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 3px;
}

.slider-vi-detail .slider-vi-meta  {
    width: 100%;
    height: auto;
    min-height: 1px;
    float: left;
}
 .slider-vi-detail .slider-vi-meta .date-meta {
    width: 50%;
    float: left;
    font-size: 12px;
    text-align: left;
    color: #fff;
    padding-left: 5px;
}
.view-meta {
    width: 50%;
    float: right;
    font-size: 12px;
    text-align: left;
    color: #fff;
    padding-right: 5px;
}
