 /*page watch video*/
 .azura-video-player {
    width: 100%;
    height: 400px;
    float: left;
    display: block;
}
.video-player-details {
    width: 100%;
    height: auto;
    min-height: 0px;
    float: left;
    display: block;
}
.video-player-details .video-player-name,
.video-player-details .video-player-pra,
.video-player-details .video-player-watch,
.video-player-details .video-player-des
{
    width: 100%;
    height: auto;
    min-height: 0px;
    float: left;
    display: block;
    margin-top: 12px;
    padding-bottom: 12px;
    color: #ffa533!important;
    border-bottom: 1px solid #ddd;
}
.video-player-details .video-player-name {
    font-size: 18px;
    font-weight: 400;
}

.video-player-watch .video-edu-avatar {
    width: 40px;
    height: 40px;
    float: left;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
}
.video-player-watch .video-edu-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.video-edu-name {
    width: auto;
    float: left;
    height: auto;
    min-height: 1px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}

.video-player-details .video-player-pra {
    font-size: 14px;
    font-weight: 400;
}
.video-player-pra .video-player-date,
.video-player-pra .video-player-view,
.video-player-pra .video-player-like,
.video-player-pra .video-player-unlike,
.video-player-pra .video-player-flow {
    margin-right: 15px;
}
.video-player-des .video-player-tag,
.video-player-des .content-des {
    width: 100%;
    height: auto;
    min-height: 0px;
    float: left;
    display: block;
}
.video-player-des p.video-player-tag {
    color: #fff;
    font-weight: bold;
}

.video-player-des .content-des {
    color: #fff;
    line-height: 1.6em;
}
/* comment */
.comment-wrap {
    width: 100%;
    height: auto;
    min-height: 1px;
    float: left;
    display: block;
}
.comment-wrap .form-comment {
    width: 100%;
    height: auto;
    min-height: 50px;
    float: left;
    display: block;
}
.comment-submit {
    float: left;
    margin: 10px;
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
    text-align: right;
}
.comment-wrap .comment-list {
    width: 100%;
    height: auto;
    min-height: 1px;
    float: left;
    display: block;
}
.comment-list .comment-item {
    width: 100%;
    height: auto;
    min-height: 1px;
    display: block;
    float: left;
    margin: 10px;
}
.comment-item .us-comment-avatar {
    width: 40px;
    height: 40px;
    float: left;
    display: block
}
.us-comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-item .comment-inner {
    width: calc(100% - 50px);
    height: auto;
    min-height: 1px;
    float: left;
    display: block;
    padding-left: 15px;
}
.comment-inner .us-comment-name {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}
.comment-date {
    font-style: italic;
    font-size: 12px;
    padding-left: 15px;
}
.comment-inner .comment-content {
    float: left;
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
    color: rgb(228, 218, 218);
}